.dashboard-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #1e3c72, #2a5298);
}


.left-section {
  flex: 1;
  padding: 50px;
  animation: slideIn 1s ease-in-out;
}

.left-section input {
  display: block;
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.button-group button {
  display: block;
  width: 60%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: white;
  color: #2a5298;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button-group button:hover {
  background: #ffcc00;
  transform: scale(1.05);
}

.logout-btn {
  margin-top: 15px;
  background: red;
  color: white;
  padding: 10px;
  width: 60%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;
}

.bank-image {
  width: 400px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
